__pycache__/
*.pyc
# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo

# =====================
# Data（重点）
# =====================
data/raw/
data/cache/
data/processed/
*.csv
*.parquet

# =====================
# Logs
# =====================
*.log

# =====================
# Env（极重要）
# =====================
.env
config.yaml

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Mac
# =====================
.DS_Store
